---
---

@import "jekyll-theme-minimal";

.linked-headings-container {
  display: flex;
  justify-content: space-between; /* 在标题间平均分配空间 */
  align-items: center; /* 如果标题高度不同，可以垂直居中 */
  gap: 20px; /* 在标题之间添加一些间隙 (可选) */
}

/* 为每个标题本身设置宽度 */
.linked-headings-container h1 {
  flex: 1; /* 让每个标题占据相等的空间 */
  text-align: center; /* 文本居中 (可选) */
}

#busuanzi_value_site_pv {
    color: hsl(224, 100%, 64%); 
    font-weight: bold; /* 让数字加粗，更显眼 */
  }